<div class="main-calendar">
    <div class="year">
        <span (click)="setYear(selectedYear - 1)">&LessLess;</span>
        {{ selectedYear }}
        <span (click)="setYear(selectedYear + 1)">&GreaterGreater;</span>
    </div>
    <div class="dataBlock monthBlock">
        <div *ngFor="let monthRow of monthBlockData" class="dataRow">
            <div *ngFor="let month of monthRow" class="dataCol" [class.ocean] = "[0,2,4,6,7,9,11].includes(month ?? 0)" [class.purple] = "[3,5,8,10].includes(month ?? 0)" [class.golden] = "month == 1">
                <ng-container *ngIf="month != null; else monthElseBlock"><span (click)="setMonth(month)">{{ months[month] }}</span></ng-container>
                <ng-template #monthElseBlock>&nbsp;</ng-template>
            </div>
        </div>
    </div>
    <div class="dataBlock">
        <div *ngFor="let dateRow of dateBlockData" class="dataRow">
            <div *ngFor="let date of dateRow" class="dataCol"  [class.golden] = "date == 29" [class.purple] = "date == 30" [class.ocean] = "date == 31">
                <ng-container *ngIf="date != null; else dayElseBlock">{{date}}</ng-container>
                <ng-template #dayElseBlock>&nbsp;</ng-template>
            </div>
        </div>
    </div>
    <div class="dataBlock">
        <div *ngFor="let number of [0,1,2,3,4,5,6]" class="dataRow">
            <div *ngFor="let numberOfNum of [0,1,2,3,4,5,6]" class="dataCol"  [class.red] = "(number + numberOfNum) % 7 == 6">
                {{days[(number + numberOfNum) % 7]}}
            </div>
        </div>
    </div>
</div>

<div class="currentSelection">
    Current Selection => {{months[selectedMonth]}} {{selectedYear}}
</div>